.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
pytest-cache-files-*/

data/cookies.txt
data/raw/*
!data/raw/.gitkeep
data/media/*
!data/media/.gitkeep
data/notes/*
!data/notes/.gitkeep

data/analysis-test/
data/analysis-suite/
data/batch-test-success/
data/batch-test-summary/
data/batch-test-transcript/
data/media-test/
data/notes-test/
